body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  background-color: #323445;
  scroll-behavior: smooth;
}
.container-fluid{
  background-color: #2e303d;
  border-radius: 10px;
}
.learn-more{
  margin-left: auto;
  margin-right: auto;
  padding: 8px 16px;
  cursor: pointer;
  text-decoration: none;
  background-color: #183153;
  color:white;
  border-radius: 25px;
  font-size: 18px;
  display: block;
  width: 200px;
}
.learn-more:hover{
  color:white;
  background-color: #001c40;
}
.nav-link:hover{
  color:#0d85fd!important;
}
.home.nav-link:hover{
  color:#c3c6d1!important;
}
.feature:hover{
  transform: translate(0, -2px);
}
.scrollUpButton {
  display: inline-block;
  width: 46px;
  height: 46px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #001c40;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
  align-content: center;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
.scrollUpButton::after {
  color: #fff;
  opacity: 0.7;
}
.scrollUpButton:hover {
  cursor: pointer;
  color: #fff;
  opacity: 1!important;
}
.scrollUpButton:active {
  opacity: 0.7;
}
.scrollUpButton.show {
  opacity: 0.7;
  visibility: visible;
}
/* MOBILE */
@media (max-width: 600px) {
  .h1{
    font-size: 36px!important;
  }
  .left{
    text-align: left!important;
  }
}
@media (max-width: 1200px) {
  .navbar-collapse{
    margin-right:-20px;
  }
  .navbar-nav{
    background-color: rgb(61, 61, 80);
    width: 250px!important;
    margin-left: auto;
    padding: 20px;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 10px;
  }
  .nav-item {
    margin-left: auto;
    margin-top:5px;
    margin-bottom:5px;
  }
  .nav-link{
    padding-right: 1rem!important;
  }
  .landing-img{
    width:100%!important;
  }
  .btn-signin{
    margin-top: 5px;
  }
  .container-fluid {
    height:72px!important;
  }
  .icon{
    width:45px;
    height:45px;
  }
  .separator {
    display: none;
  }
  .first {
    order: -1 !important;
  }
}